#header {
  text-align: center;
  position: relative;

  nav {
  }
}

#footer {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  border-top: 1px solid #eeeeee;
  padding: 20px 0;
  p {
    margin: 0;
  }
}

#gallery {
  height: 400px;

  @media (min-width: 1080px) {
    height: 600px;
  }
}

#map-wrapper {
  height: 400px;
}

.map-thumbnail, .map-detail {
  display: inline-block;
  vertical-align: top;
}

.map-detail {
  margin-left: 10px;

  a {
    color: black;
    text-decoration: none;
  }
}

.avatar {
  width: 120px;
  height: auto;
  border-radius: 50%;
}

.page-heading {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.container-gallery {
  width: 100%;
  margin-bottom: 70px;
}

.container-contact {
  h2 { color: white }
  padding: 20px 0;
  margin-bottom: 70px;
}

.container-olga, .container-about, .container-map {
  margin-bottom: 70px;
}

.contact-information {
  background: white;
  padding: 20px;
}

.brand {
  display: inline-block;
  padding: {
    left: 15px;
    right: 15px;
  }
  margin: {
    bottom: 80px;
    top: 40px;
  }

  @media (min-width: 500px) {
    img {
      max-width: 640px;
    }
  }
}

.my-gallery {
  clear: both;
  overflow: auto;

  figure, a, img {
    display: inline-block;
    width: 92px;
    height: 120px;
    float: left;
  }

  figcaption {
    display: none;
  }

}
